@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>

    <br />

    <h4><a href="https://azure.microsoft.com/overview/what-is-azure/">What is Azure?</a></h4>
    <p>The Azure cloud platform is more than 200 products and cloud services<br />
    designed to help you bring new solutions to life-to solve today's challengs<br />
    and create the future. Build, run, and manage applications across multiple<br />
    clouds, on-premises, and the edge, with the tools and frameworks of your choice.</p>
</div>
