@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p><img src="images/azurelogo.png" alt="Azure" /></p>
    <br />

    <h4>INVENT WITH PURPOSE</h4>
    <h1 class="display-4"><a href="https://azure.microsoft.com/">Microsoft Azure</a></h4>
    <p>Limitless data and analytics capabilities. Yes, limitless.<br />
    <b>On-Premises, hybrid, multicloud, or at the edge -create secure, future-ready cloud solutions or Azure.</b></p>
</div>
