name: Build and Deploy - Azure Functions (CSharp)

on:
  workflow_dispatch:
    inputs:
      AZURE_FUNCTIONAPP_NAME:
        description: Azure Functions App
        required: true
      AZURE_FUNCTIONAPP_PACKAGE_PATH:
        description: Azure Functions Path
        required: true
env:
  DOTNET_VERSION: '3.1.100'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Github Action
        uses: actions/checkout@v2

      - name: Setup DotNet Environment
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Resolve Project Dependencies Using DotNet
        shell: bash
        run: |
          pushd './.'
          dotnet build 'src/${{ github.event.inputs.AZURE_FUNCTIONAPP_PACKAGE_PATH }}' --configuration Release --output ./output
          popd
          
      - name: Run Azure Functions Action
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: ${{ github.event.inputs.AZURE_FUNCTIONAPP_NAME }}
          package: './src/${{ github.event.inputs.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'
          publish-profile: ${{ secrets.AZURE_CREDENTIALS }}
